<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Life Expectancy Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
            <img width="50" src="https://images.squarespace-cdn.com/content/5ad92cba29711452c6048740/1571414033979-HGETCQF21GDZDTC1296W/logo.png?content-type=image%2Fpng" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Statistical Features <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 class="text-center display-4">Global Life Expectancy Analysis</h1>
        <p class="text-center lead">A regression coefficient model to identify the relationship of weather, social and consumer behavior conditions and its impact in life expectancy globally.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <aside class="filters">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filter Search</div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="date">Enter a Country</label>
                                            <input class="form-control" id="datetime" type="text" onkeyup="searchCountry()">
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </aside>

            </div>
            <div class="col-md-10">
                <div id="table-area" class="">
                    <table id="ufo-table" class="table table-striped">
                        <thead>
                            <tr>
                                <th class="table-head">Country</th>
                                <th class="table-head">Access to Drinking Water</th>
                                <th class="table-head">Alcohol</th>
                                <th class="table-head">Body Mass Index</th>
                                <th class="table-head">CO2 Emissions</th>
                                <th class="table-head">Population</th>
                                <th class="table-head">Sugar</th>
                                <th class="table-head">Tobacco</th>
                                <th class="table-head">Urban Mayority</th>
                                <th class="table-head">Work Hours per Week</th>


                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <hr>
    <footer class="modal-footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">&copy; Data Analytics Bootcamp 2019/2020 All Rights Reserved.</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="static/js/app.js"></script>
</body>

</html>